.home-container {
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 120px;
}

.home-container-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    text-align: left;
    margin-top: 50px;
}

.home-title {
    font-family: var(--font-heading);
    color: var(--color-text-dark);
    font-size: 3rem;
    text-align: left;
    background-color: var(--color-muted);
    padding: 8px 16px;
    border-radius: 32px;
    margin-bottom: 12px;;
}

.home-paragraph {
    font-family: var(--font-body);
    color: var(--color-text-dark);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    width: 565px;
}

.home-paragraph-links {
    font-family: var(--font-body);
    color: var(--color-text-dark);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    margin-top: 60px;
    background-color: var(--color-border);
    width: fit-content;
    text-align: center;
    padding: 12px 16px;
    border-radius: 12px;
}

.home-container-buttons {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: flex-start;
    width: 565px;
    margin-top: 16px;
    justify-content: center;
}


.home-button-shop, .home-button-learn {
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-family: var(--font-body);
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s ease;
    display: inline-block;
}

.home-button-shop {
    background-color: var(--color-card-green);
    color: var(--color-text-dark);
}

.home-button-shop:hover {
    background-color: var(--color-card-green-hover);
    transform: scale(1.05);
}

.home-button-learn {
    background-color: var(--color-card-yellow);
    color: var(--color-text-dark);
}

.home-button-learn:hover {
    background-color: var(--color-card-yellow-hover);
    transform: scale(1.05);
}

.home-blobYellow-img {
    width: 700px;
    position: absolute;
    top: 40px;
    bottom: 0;
    right: -160px;
}

.home-coffe-img {
    width: 400px;
    position: absolute;
    bottom: 110px;
    right: 0;
}

.home-grains-img {
    width: 180px;
    position: absolute;
    bottom: 60px;
    left: -10px;
    transform: rotate(5deg);
}

.home-blobRed-img {
    width: 400px;
    position: absolute;
    bottom: -100px;
    left: -130px;
    transform: rotate(90deg);
}

.home-coffeSmoke-img {
    width: 150px;
    position: absolute;
    top: 100px;
    left: 700px;
    transform: rotate(10deg);
}