.home-container {
    width: 100%;
    height: 100vh;
    background-color: var(--color-bg-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 120px;
}

.home-container-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    text-align: left;
    margin-top: 50px;
}

.home-title {
    font-family: var(--font-heading);
    color: var(--color-text-dark);
    font-size: 3rem;
    text-align: left;
}

.home-paragraph {
    font-family: var(--font-body);
    color: var(--color-text-dark);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
}

.home-paragraph-links {
    font-family: var(--font-body);
    color: var(--color-text-dark);
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    margin-top: 100px;
}

.home-container-buttons {
    display: flex;
    gap: 20px;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin-top: 16px;
}


.home-button-shop, .home-button-learn {
    text-decoration: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-family: var(--font-body);
    font-weight: 600;
    font-size: 1rem;
    transition: all 0.3s ease;
    display: inline-block;
}

.home-button-shop {
    background-color: var(--color-card-green);
    color: var(--color-text-dark);
}

.home-button-learn {
    background-color: var(--color-card-yellow);
    color: var(--color-text-dark);
}

.home-blob-img {
    width: 700px;
    position: absolute;
    top: 25px;
    bottom: 0;
    right: -140px;
}

.home-coffe-img {
    width: 400px;
    position: absolute;
    bottom: 110px;
    right: 0;
}