.nav-bg {
    background-color: var(--color-bg-dark);
    width: 100%;
    height: 8vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.nav-bg ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 15px 30px;
    align-items: center;
    height: 100%;
    justify-content: center;
}

.nav-bg ul li a {
    text-decoration: none;
    color: var(--color-text-light);
    font-family: var(--font-heading);
    font-weight: 500;
    transition: color var(--transition-fast);
    transition: all 0.3s ease;
}

.nav-bg ul li a:hover {
    color: var(--color-text-accent);
    padding: 5px;
}